---
title: Bradley McFadden's Home Page
inner-nav: about,skills,experience,education,contact
---

<section id="about">
  <div class="section-header">
    <h2>About</h2>
    <hr>
  </div>
  <p>
    Hello! I am a professional software developer, currently working in Greater Sudbury, Ontario.
    In my spare time, I am a sport rock climber, I enjoy going to the movies, I develop
    games, and I enjoy working out in my living room.
  </p>
  <p>
    I am a lifelong learner and I seek to improve people's productivity and safety through the creation of
    reliable interactive software. I look forward to improving the workflows and processes of users of my
    software.
    I have a strong foundation in <i>Java</i>, <i>C#</i>, and the <i>Android</i> framework, but I am always
    looking into applying new tools.
  </p>
</section>

<section id="skills">
  <div class="section-header">
    <h2>Skills</h2>
    <hr>
  </div>
  <p>Most of my professional experience has been with application development. I have
    a great deal of experience with <i>Python</i>, <i>C++</i>, <i>Java</i>, <i>Android</i>, <i>C#</i>,
    <i>Rust</i>, and user interface libraries
    such as <i>Qt5</i>.
  </p>
  <div class="hbox">
    <img id="python-icon" class="image-row-item" src="assets/images/logos/python.svg">
    <img id="c++-icon" class="image-row-item" src="assets/images/logos/ISO_C++_Logo.svg">
    <img id="rust-icon" class="image-row-item" src="assets/images/logos/rust.svg">
  </div>
  <p>
    I have done some limited web development (see this site for example), but have used APIs of popular
    services like Spotify or Shopify to create tools in the past.
  </p>
  <p>
    I am very familiar with version control systems such as Git, and I have
    experience using <i>Jenkins</i>, <i>Gradle</i>, <i>Cmake</i>, or <i>Apache Ant</i> to improve my productivity
    and
    organize my work.
  </p>
  <p>
    I have experience writing unit tests, and have used test frameworks such as <i>Robolectric</i>, <i>JUnit4</i>,
    and <i>Cargo</i> to detect regressions and evaluate my code.
  </p>
  <p>
    I also have worked with a few different databases including <i>MariaDB</i>, <i>MySQL</i> and tools such as
    <i>Android Room</i> for spinning up databases faster.
  </p>
  <p>
    I've worked with both <i>Godot</i> and <i>Unity</i> in the past as game engines. I mostly make 2D games, and
    due to my familiarity
    with <i>Python</i> I prefer to develop in <i>Godot</i> because <i>GDScript</i> is immediately familiar.
  </p>
  <div class="hbox">
    <img id="godot-icon" class="image-row-item" src="assets/images/logos/godot.svg">
    <img id="unity-icon" class="image-row-item" src="assets/images/logos/light/unity.png">
    <img id="opengl-icon" class="image-row-item" src="assets/images/logos/light/OpenGL_100px_June16.png">
  </div>
  <p>
    I do have some experience working with graphics frameworks like <i>OpenGL</i>. I once used <i>OpenGL</i> to
    create a model viewer type
    program in university, and I explored other topics including animation using inverse kinematics, or wrote
    shaders in <i>GLSL</i>.
  </p>
  <p>
    For more information about what I can do for you, please see my <a
      href="assets/documents/bmcfadden_resume_2023.pdf">resume</a>, <a href="#contact">contact me</a>, or view my past
    and present <a href="projects.html">projects</a>.
  </p>
</section>

<section id="experience">
  <div class="section-header">
    <h2>Experience</h2>
    <hr>

    {% include experience.html 
      icon="assets/images/logos/lu.jpeg"
      alt="Laurentian University Icon"
      title="Web Developer"
      organization="Laurentian University"
      start="November 2023"
      end="Present"
      responsibilities="Oversee design aspects of Laurentian's web services@
      Use database queries, markup langauges, SEO to implement web services@
      Use of prototyping tools to create wireframes, screen layouts, interactive prototypes@
      Develop, maintain and troubleshoot the tools, interfaces and portals to meet service goals@
      Propose tools and make recommendations as needed for Laurentian's core websites and other applications"
    %}

    {% include experience.html 
      icon="assets/images/logos/jannatec.png"
      alt="Jannatec Logo"
      title="Intermediate Developer"
      organization="Jannatec Technologies"
      start="May 2021"
      end="October 2023"
      responsibilities="Incorporated UDP backup camera functionality into a collision avoidance system on the <i>Android</i> platform@
      Developed applications on <i>Android</i> to test hardware and incorporate periperals into a CAS system@
      Worked with microcontrollers to process peripheral communication in UART, CAN bus, J1939, Bluetooth SPP, and other formats@
      Developed integrations with Motorola's MOTOTRBO radio network in C#@Wrote extensive developer documentation for projects using Word, LaTeX or other formats@Used <i>git</i> and <i>Jenkins</i> to setup a continuous delivery solution for projects@Performed experiments to test communication equipment including camera latency, successful packet deliverys, and serial error rate"
    %}

  {% include experience.html 
    icon="assets/images/logos/icmt.png"
    alt="ICMT Logo"
    title="Software Developer"
    organization="Ingenious Countermeasures Technologies"
    start="February 2020"
    end="January 2021"
    responsibilities="Designed and implemented a user interface for a <i>Python</i> application using <i>PyQt5</i>@
    Created a database to process 1 million records of LTE bands and store user's session information@
    Wrote a database export tool to generate reports in PDF format to summarize application results@
    Managed code using version control, and distribution tools like apt, setup.py, and deb packages todeliver updates to users"
  %}

</section>

<section id="education">
  <div class="section-header">
    <h2>Education</h2>
    <hr>
    <div class="education-container">
      <div class="education-text">
        <p class="education-institution">Laurentian University</p>
        <p class="education-city">Sudbury, ON. Canada.</p>
        <p class="education-program">Bachelor of Computer Science</p>
        <p class="education-graduation">Graduated May 2023</p>
      </div>
      <img class="education-icon" src="assets/images/logos/laurentian.png" alt="Laurentian University Coat of Arms">
    </div>
  </div>
</section>

<section id="contact">
  <div class="section-header">
    <h2>Contact</h2>
    <hr>
    <p>Feel free to connect with me on any of my linked platforms, but I am most responsive to email.</p>
    
    {% include social.html 
      icon="assets/images/logos/light/mail.svg"
      alt="Email"
      link="mailto:bmcfadden00@gmail.com"
      text="bmcfadden00<i class='hidden'>_</i>@<i class='hidden'>_</i>gmail.com"
      id='social-mail'
    %}
    
    {% include social.html 
      icon='assets/images/logos/light/linkedin.svg'
      link='https://www.linkedin.com/in/bradley-mcfadden-15b632242/'
      alt='LinkedIn' 
      text='Bradley McFadden'
      id="social-linkedin"
    %}
    
    {% include social.html 
      icon="assets/images/logos/light/github.svg" 
      link="https://github.com/bradley-mcfadden" 
      alt="GitHub" 
      text="bradley-mcfadden"
      id='social-github'
    %}
  </div>
</section>
