<!--
    icon -- Link to icon to be used for organization.
    alt -- Alt text for icon.
    title -- Position title.
    organization -- Employer during position.
    responsibilities -- Array separated by @ of job responsibilities.
    start - Start date
    end - End date
  -->
<div class="job-summary">
    <div class="job-header">
      <img class="job-header-icon" src="{{ site.url }}/{{ include.icon }}" alt=" {{ include.alt }}">
      <div class="job-header-text">
        <h3>{{ include.title }} </h3>
        <h4>{{ include.organization }}</h4>
      </div>
    </div>
    <hr>
    <ul>
      {% assign responsibilities = include.responsibilities | split: '@' %}
      {% for item in responsibilities %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
    <div class="job-footer">
      <p>{{ include.start }} - {{ include.end }} </p>
    </div>
</div>